<h1> Hello World from app/views/demo/index.html.erb page!</h1>


<%= puts "Hello world" %>
<% 1 + 1 %>
<%= 1 + 1%> <br />
<h2> Variables Output 1</h2>
<% target = "World" %> 
<%= "Hello #{target} "%> <br />


<%
3.times do |n|
	puts n
end
%>

<h2>  Variables Output 2</h2>
<% 3.times do |n| %>
<%= n%> <br >
<%end%>

<h2> Instance Variables Output </h2>
<% @array.each do |n| %>
<%= n %> <br />
<% end %>

<h1>Links</h1>

<a href="/demo/index"> Hello page 1</a> <br />
<%= link_to("Hello page 2", {:action => 'hello'}) %> <br />

<h1> URL with patameters</h1>

<%= link_to("Hello with parameters",{:action => 'hello', :page => 5, :id => 20}) %> <br />

<%= link_to('Roar', '#', :onclick => "jsname('JavaScript'); return true;") %> 